extends ../layout

block content
  h1 登录
  #err
    if(err)
      p(class="msg error") #{err}
  #success
    if(success)
      p(class="msg success") !{success}
  form(method="post" action="/login")
    p
      label 用户名:
      input(type="text" name="username")
    p
      label 密码:
      input(type="text" name="password")
    p
      input(type="submit" name="登录")
      input(type="button" onclick="window.location='/login'" value="注册" )